{% from '@ganstaz_gzo/macros/tags.twig' import icon, url %}

<li data-last-responsive="true">
	{{ url({'href': GZO_LEGEND, 'title': lang('GZO_ACHIEVEMENTS')}, icon('icon', 'star fa-fw', null, lang('GZO_ACHIEVEMENTS'))) }}
</li>
